CloseScreen {
    align: center middle;
    background: rgba(0, 0, 0, 0.5);
}

#dialog {
    layout: vertical;
    padding: 1 2;
    background: $surface;
    border: thick $background 80%;
    width: 40;
    height: auto;
}

#question {
    width: 100%;
    height: auto;
    min-height: 1;
    padding: 1 1;
    content-align: center middle;
    text-style: bold;
}

#buttons {
    width: 100%;
    height: auto;
    align: center middle;
}

#yes, #no {
    margin: 1;
}