MainMenu {
    border: green;
    width: 100%;
    height: 100%;
    padding: 1;
}

#main-menu {
    align: center middle;
    width: 100%;
    height: 100%;
}

#main-title {
    height: auto;
    width: auto;
    margin-bottom: 1;
    color: yellow;
    text-style: bold italic;
    content-align: center middle;
}

.main-menu-btn {
    margin: 1 2;
    padding: 1 1;
    width: 30;
    border: none;
}